version: '3.3'

services:

  nginx:
    image: nginx:mainline-alpine
    container_name: loop-nginx
    links:
      - php
      - php:fcgi
    ports:
      - "8000:80"
    volumes:
      - .:/srv
      - ./nginx.conf:/etc/nginx/nginx.conf

  php:
    user: ${HOST_UID}:${HOST_GID}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: loop-fpm
    working_dir: /srv
    volumes:
      - .:/srv
